<h1>Lista de posts</h1>

{{#each posts}}<!--Para cada postagem faça algo-->
    <h2>{{titulo}}</h2> 
    <p>{{conteudo}}</p>
    <small>criado em:{{createdAt}}</small>
    <a href="/deletar/{{id}}"><button>Delete Post</button></a>
    <hr>
{{/each}}